<!DOCTYPE html>

<html lang="ko">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>개연_설문조사 페이지</title>
<style>
    body { background-color: #fce4ec; }
    .container {
      font-family: Arial, sans-serif;
      max-width: 1000px;
      margin: 50px auto;
      padding: 20px;
      background-color: #fce4ec;
      border: 1px solid #f8bbd0;
      border-radius: 8px;
      box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    }
    h1, h2, h3 {
      text-align: center;
      color: #d81b60;
    }
    .question {
      margin-top: 20px;
    }
    .option {
      display: block;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin: 5px 0;
      cursor: pointer;
      background-color: #fff3e0;
      color: #f48fb1;
      text-align: center;
    }
    label {
      font-weight: bold;
    }
    button {
      width: 100%;
      padding: 10px;
      margin-top: 20px;
      background-color: #f48fb1;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
    }
    button:hover {
      background-color: #d81b60;
    }
  </style>
</head>
<body>
<h1>개연</h1>
<div class="container">
<h2>선택한 견종과의 적합도를 알아보는 설문조사입니다.</h2>
<p style="text-align: center; color: #880e4f;">모든 응답에 대하여 신중하게 응답해주세요.</p>
<form action="/survey/" method="post">
  {% csrf_token %}

  {% if breed %}
    <h2 style="text-align: center; color: #d81b60;">
        선택된 견종: {{ breed }}
    </h2>
{% endif %}




<div class="question">
<h3>1. 직업</h3>
<label class="option"><input checked="" name="q1" type="radio" value="학생"/> 학생</label>
<label class="option"><input checked="" name="q1" type="radio" value="사기업"/> 사기업</label>
<label class="option"><input checked="" name="q1" type="radio" value="공기업"/> 공기업</label>
<label class="option"><input checked="" name="q1" type="radio" value="공무원"/> 공무원</label>
<label class="option"><input checked="" name="q1" type="radio" value="그 외"/> 그 외</label>
</div>

<div class="question">
<h3>2. 가족 구성원</h3>
<label class="option"><input checked="" name="q2" type="radio" value="1명"/> 1명</label>
<label class="option"><input checked="" name="q2" type="radio" value="2명"/> 2명</label>
<label class="option"><input checked="" name="q2" type="radio" value="3명"/> 3명</label>
<label class="option"><input checked="" name="q2" type="radio" value="4명"/> 4명 이상</label>
</div>

<div class="question">
<h3>3. 거주 형태</h3>
<label class="option"><input checked="" name="q3" type="radio" value="개인 주택"/> 개인 주택</label>
<label class="option"><input checked="" name="q3" type="radio" value="빌라"/> 빌라</label>
<label class="option"><input checked="" name="q3" type="radio" value="아파트"/> 아파트</label>
<label class="option"><input checked="" name="q3" type="radio" value="오피스텔"/> 오피스텔</label>
<label class="option"><input checked="" name="q3" type="radio" value="그 "/> 그 외</label>
</div>

<div class="question">
<h3>4. 집에서 공원까지 걸리는 시간</h3>
<label class="option"><input checked="" name="q4" type="radio" value="30분 내"/> 30분 내</label>
<label class="option"><input checked="" name="q4" type="radio" value="30분 이상"/> 30분 이상</label>
</div>

<div class="question">
<h3>5. 갑자기 사용할 수 있는 금액</h3>
<label class="option"><input checked="" name="q5" type="radio" value="20만원 미만"/> 20만원 미만</label>
<label class="option"><input checked="" name="q5" type="radio" value="20만원~30만원 미만"/> 20만원~30만원 미만</label>
<label class="option"><input checked="" name="q5" type="radio" value="30만원~40만원 미만"/> 30만원~40만원 미만</label>
<label class="option"><input checked="" name="q5" type="radio" value="40만원~50만원 미만"/> 40만원~50만원 미만</label>
<label class="option"><input checked="" name="q5" type="radio" value="50만원 이"/> 50만원 이상</label>
</div>

<div class="question">
<h3>6. 연 단위 갑자기 사용할 수 있는 금액</h3>
<label class="option"><input checked="" name="q6" type="radio" value="240만원 미만"/> 240만원 미만</label>
<label class="option"><input checked="" name="q6" type="radio" value="240만원~360만원 미만"/> 240만원~360만원 미만</label>
<label class="option"><input checked="" name="q6" type="radio" value="360만원~480만원 미만"/> 360만원~480만원 미만</label>
<label class="option"><input checked="" name="q6" type="radio" value="480만원~600만원 미만"/> 480만원~600만원 미만</label>
<label class="option"><input checked="" name="q6" type="radio" value="600만원 이상"/> 600만원 이상</label>
</div>

<div class="question">
<h3>7. 한 달 양육 적정 비용</h3>
<label class="option"><input checked="" name="q7" type="radio" value="10만원 미만"/> 10만원 미만</label>
<label class="option"><input checked="" name="q7" type="radio" value="10만원~15만원 미만"/> 10만원~15만원 미만</label>
<label class="option"><input checked="" name="q7" type="radio" value="15만원~20만원 미만"/> 15만원~20만원 미만</label>
<label class="option"><input checked="" name="q7" type="radio" value="20만원~25만원 미만"/> 20만원~25만원 미만</label>
<label class="option"><input checked="" name="q7" type="radio" value="25만원 이상"/> 25만원 이상</label>
</div>

<div class="question">
<h3>8. 일년 양육 적정 비용</h3>
<label class="option"><input checked="" name="q8" type="radio" value="200만원 미만"/> 200만원 미만</label>
<label class="option"><input checked="" name="q8" type="radio" value="200만원~220만원 미만"/> 200만원~220만원 미만</label>
<label class="option"><input checked="" name="q8" type="radio" value="220만원~240만원 미만"/> 220만원~240만원 미만</label>
<label class="option"><input checked="" name="q8" type="radio" value="240만원~260만원 미만"/> 240만원~260만원 미만</label>
<label class="option"><input checked="" name="q8" type="radio" value="260만원 이상"/> 260만원 이상</label>
</div>

<div class="question">
<h3>9. 예상되는 1년 내 대표적 환경적 변화는?</h3>
<label class="option"><input name="q9" type="radio" value="이사"/> 이사</label>
<label class="option"><input name="q9" type="radio" value="결혼"/> 결혼</label>
<label class="option"><input name="q9" type="radio" value="출산"/> 출산</label>
<label class="option"><input name="q9" type="radio" value="해당X"/> 해당X</label>
</div>

<div class="question">
<h3>10. 가족 구성원 중 개를 선호하지 않는 사람은?</h3>
<label class="option"><input name="q10" type="radio" value="해당X"/> 해당X</label></div>
<label class="option"><input name="q10" type="radio" value="1명"/> 1명</label>
<label class="option"><input name="q10" type="radio" value="2명"/> 2명</label>
<label class="option"><input name="q10" type="radio" value="3명 이상"/> 3명 이상</label>
</div>

<div class="question">
<h3>11. 가족 구성원 중 개털 알러지가 있는 사람은?</h3>
<label class="option"><input name="q11" type="radio" value="해당X"/> 해당X</label></div>
<label class="option"><input name="q11" type="radio" value="1명"/> 1명</label>
<label class="option"><input name="q11" type="radio" value="2명"/> 2명</label>
<label class="option"><input name="q11" type="radio" value="3명 이상"/> 3명 이상</label>
</div>

<div class="question">
<h3>12. 집 주인의 반려동물 사육 허락 여부</h3>
<label class="option"><input checked="" name="q12" type="radio" value="예"/> 예</label>
<label class="option"><input checked="" name="q12" type="radio" value="아니오"/> 아니오</label>
<label class="option"><input checked="" name="q12" type="radio" value="본인 명의의 집"/> 본인 명의의 집</label>
</div>

<div class="question">
<h3>13. 한 번에 반려견 산책 적정 시간은?</h3>
<label class="option"><input checked="" name="q13" type="radio" value="10분~30분 미만"/> 10분~30분 미만</label>
<label class="option"><input checked="" name="q13" type="radio" value="30분~50분 미만"/> 30분~50분 미만 </label>
<label class="option"><input checked="" name="q13" type="radio" value="약 1시간"/> 약 1시간</label>
<label class="option"><input checked="" name="q13" type="radio" value="1시간~2시간 미만"/> 1시간~2시간 미만</label>
</div>

<div class="question">
<h3>14. 1일 반려견의 적정 산책 거리?</h3>
<label class="option"><input checked="" name="q14" type="radio" value="1km 미만"/> 1km 미만 </label>
<label class="option"><input checked="" name="q14" type="radio" value="1km~3km 미만"/> 1km~3km 미만</label>
<label class="option"><input checked="" name="q14" type="radio" value="3km~5km 미만"/> 3km~5km 미만</label>
<label class="option"><input checked="" name="q14" type="radio" value="5km~8km"/> 5km~8km</label>
<label class="option"><input checked="" name="q14" type="radio" value="8km 이"/> 8km 이상</label>
</div>

<div class="question">
<h3>15. 실직, 이혼, 사후 등의 이유로 자신 대신에 반려견을 돌볼 사람이 있는가?</h3>
<label class="option"><input checked="" name="q15" type="radio" value="없음"/> 없음</label>
<label class="option"><input checked="" name="q15" type="radio" value="알아볼 예정"/> 알아볼 예정</label>
<label class="option"><input checked="" name="q15" type="radio" value="알아보는 중"/> 알아보는 중</label>
<label class="option"><input checked="" name="q15" type="radio" value="있음"/> 있음</label>
</div>


<div class="question">
<h3>16. 반려견의 불안감을 줄이는 방법은?</h3>
<label class="option"><input checked="" name="q16" type="radio" value="운동"/> 운동</label>
<label class="option"><input checked="" name="q16" type="radio" value="놀이"/> 놀이</label>
<label class="option"><input checked="" name="q16" type="radio" value="복수의 반려견"/> 복수의 반려견</label>
<label class="option"><input checked="" name="q16" type="radio" value="대가족 생활"/> 대가족 생활</label>
</div>

<div class="question">
<h3>17. 당신의 눈동자 색은?</h3>
<label class="option"><input checked="" name="q17" type="radio" value="black"/> 검정빛</label>
<label class="option"><input checked="" name="q17" type="radio" value="brown"/> 갈빛</label>
<label class="option"><input checked="" name="q17" type="radio" value="blue"/> 푸른빛</label>
<label class="option"><input checked="" name="q17" type="radio" value="green"/> 초록빛</label>
<label class="option"><input checked="" name="q17" type="radio" value="gray"/> 횟빛</label>
</div>

<div class="question">
<h3>18. 자신의 본래 머리 색은?</h3>
<label class="option"><input checked="" name="q18" type="radio" value="black"/> 검정색</label>
<label class="option"><input checked="" name="q18" type="radio" value="brown"/> 갈색</label>
<label class="option"><input checked="" name="q18" type="radio" value="gold, yellow"/> 금색</label>
<label class="option"><input checked="" name="q18" type="radio" value="red"/> 붉은 색</label>
</div>

<div class="question">
<h3>19. 선호하는 견종의 크기는?</h3>
<label class="option"><input checked="" name="q19" type="radio" value="miniminidog"/> 초소형</label>
<label class="option"><input checked="" name="q19" type="radio" value="minidog"/> 소형</label>
<label class="option"><input checked="" name="q19" type="radio" value="middledog"/> 중형</label>
<label class="option"><input checked="" name="q19" type="radio" value="bigdog"/> 대형</label>
<label class="option"><input checked="" name="q19" type="radio" value="bigbigdog"/> 초대형</label>
</div>

<div class="question">
<h3>20. 반려견의 희망 수명은?</h3>
<label class="option"><input checked="" name="q20" type="radio" value="10년 미만"/> 10년 미만</label>
<label class="option"><input checked="" name="q20" type="radio" value="10년~13년 미만"/> 10년~13년 미만</label>
<label class="option"><input checked="" name="q20" type="radio" value="13년 이상"/> 13년 이상</label>
</div>

<div class="question">
<h3>21. 자신의 평소 성향은?</h3>
<label class="option"><input checked="" name="q21" type="radio" value="extrovert"/> 외향적</label>
<label class="option"><input checked="" name="q21" type="radio" value="introvert"/> 내향적</label>
</div>


<button type="submit">제출하기</button>

{% if warning %}
  <p style="color: red; text-align: center;">{{ warning }}</p>
{% endif %}

    </form>
</div>
</body>
</html>